#inicio{
    background-color: lightsteelblue;
    margin-right: 600;
    text-align: center;
    display: flex;

}

#ícones{
    background-color: lightsteelblue;
    margin-right: 600;
    text-align: center;
  
    
}

#tabela{
    background-color: lightsteelblue;
    margin-right: 600;
    text-align: left;
}

#preços{
    background-color: lightsteelblue;
    margin-right: 1000;
}

#but{
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;
}



